* {
    box-sizing: border-box;
}

.formRow #formButton {
	margin-right: 300px;
	margin-bottom: 50px;
	font-weight: bold;
}

#Form {
	padding-right: 200px;
}


#fname, #lname, #message {
		font-size: 16px;
		font-weight: bold;
		font-family: "Arial", sans-serif;
		color: black;
		background-color: #cfced2
}


label {
	font-size: 24px;
	font-weight: bold;
	font-family: "Arial", sans-serif;
	color: white;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: #45a049;
}



.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

.formRow:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

h2 {
	font-size: 20px;
	text-align: center;
	color: white;
}